.swiper-button-prev,
.swiper-button-next{
    color: #FFBA08 !important
}

.swiper-pagination-bullet{
    background-color: #999999 !important;
    opacity: 1 !important;
    height: 1rem !important;
    width: 1rem !important
}

.swiper-pagination-bullet-active{
    background-color: #FFBA08 !important;
}